<html>

<head>
    #if ($!cssFileReference) 
        <link rel="stylesheet" href="$cssFileReference">
    #end

   #if ($!cssFileInclude) 
        <style>
        #include ($cssFileInclude)
        </style>
    #end

    #if ($!title) 
        <title>$title</title>
    #end
</head>

<body>

 #if ($!title) 
    <h1>$title</h1>
    #end

    <ul>
    #foreach ($tableKey in $tables.keySet())
        <li><a href="#$tableKey">$tableKey</a></li>
    #end
    </ul>

    #foreach ($tableKey in $tables.keySet())
    #set ($table = $tables.get($tableKey))

    <h3 id="$tableKey"> $tableKey </h3>

    <table border="1">
       
        #foreach ($row in [$table.row0..$table.rowEnd])
        <tr>
          #foreach ($col in [$table.col0..$table.colEnd])
          #if ($table.isVisible($row, $col))
          #if ($table.isDefaultCell($row, $col))
          <td></td>
          #else
          #set ($cell = $table.getCell($row, $col))
          <td rowspan=$cell.rowSpan colspan=$cell.colSpan class="$cell.getStyle()">
          #if ($table.hasRenderer($renderingContext))
            $table.getRenderer($renderingContext).renderCell($cell)
          #else
            $cell.getContent("name")
          #end
          </td>                       
          #end
          #end
        #end
        </tr>
        #end

    </table>

    #end

<p/>
#if ($!date) 
  <h4>$date</h4>
#end

</body>
</html>
